pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
notebooks/.clj-kondo/
notebooks/.calva/output-window/output.calva-repl
notebooks/.lsp/.cache/db.transit.json
notebooks/.lsp/
notebooks/docs/notebooks.demo.html
